CyberNews.json
{
  "name": "CyberNews",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n\t{\n\t\tjson: {\n\t\t\turl: 'https://feeds.feedburner.com/TheHackersNews?format=xml',\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\turl: 'https://www.securityweek.com/feed/',\n\t\t}\n\t},\n    {\n        json: {\n            url: 'https://news.sophos.com/en-us/category/threat-research/feed/'\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -40
      ],
      "id": "d3f95001-cb09-4f02-9d09-eacf2e30cbac",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        280,
        -40
      ],
      "id": "010784a7-2d2b-4f7e-a0f1-6ba871ee3694",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json[\"url\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        480,
        100
      ],
      "id": "4b4ea37c-8139-40d7-9196-1b3cbbfc5cb7",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "let prompt = '';\nfor (const item of $input.all()) {\n  prompt += `\n  \n    TITLE: ${item.json[\"title\"]}\n    CONTENT: ${item.json[\"content\"]}\n  `;\n}\n\nreturn {\n  json: {\n    concat_prompt: prompt\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -60
      ],
      "id": "44904fb0-7a68-4c71-a5e9-4ed5245d456d",
      "name": "Concat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        120
      ],
      "id": "8fd6d55b-7dcf-4423-9c84-d1e9e289d763",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nI9d16BPB9hYKSc0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"concat_prompt\"] }}",
        "options": {
          "systemMessage": "You are a helpful assistant. \nYour job is to take the cybersecurity news texts and resume to the user. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        700,
        -60
      ],
      "id": "24395c0d-1901-4c6b-80bb-a6354e4433bc",
      "name": "Journalist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"output\"] }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nYour task is to get the text and create a beautiful cybersecurity news page in HTML/CSS to the user, return only the HTML/CSS content, not textual content. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1060,
        -60
      ],
      "id": "8c9f5122-c641-4760-9c26-ed9c580e3067",
      "name": "Developer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        160
      ],
      "id": "ac863f0d-31a1-413d-8da3-5ff16778be48",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nI9d16BPB9hYKSc0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<email destino> ",
        "subject": "CyberNews | Últimas notícias do Mundo Cyber",
        "message": "={{ $json[\"output\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1420,
        -60
      ],
      "id": "6f3acf7a-1c88-4cbd-accc-41a8d33e364e",
      "name": "Gmail",
      "webhookId": "99a3f5f7-9808-4ed4-91f7-690d0a788e2f",
      "credentials": {
        "gmailOAuth2": {
          "id": "9PwiaEfujGk1llrH",
          "name": "Gmail Pessoal Pablo"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        -40
      ],
      "id": "96aa7dac-27b8-484b-a4fc-489471696447",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Concat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat": {
      "main": [
        [
          {
            "node": "Journalist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Journalist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Journalist": {
      "main": [
        [
          {
            "node": "Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Developer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Developer": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "981b624d-bd80-4322-b41a-fc76b86fc588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "610695ed43365d38dcc26304c0b439c3b75b85ee87123b3cc73a1d40c10e0d42"
  },
  "id": "TV0rWXMZwFkhGYTO",
  "tags": []
}